:root {
    --background-color: #e6e8e6;
    --darker-background-color: #ced0ce;
    --dark-color: #191919;
    --accent-color: #f15025;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

.resume {
    min-height: 100vh;
    background-color: #FFFFFF;
    width: 800px;
}

.editor {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.app {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4rem;
    margin-block: 4rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 0.5rem;
}

.input-form {
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 0 0 0.75rem 0.75rem;
    width: 100%;
    min-height: 350px;
}

.single-input {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--background-color);
    font-family: inherit;
}
.single-input:focus {
    outline: 2px solid var(--dark-color);
}

.personal-section {
    background-color: var(--accent-color);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
}

.name-display {
    font-size: 2rem;
    font-weight: bold;
}

.contact-info {
    display: flex;
    gap: 2rem;
}

.contact-group {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


.icon-holder {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem 2rem;
}